#drawing-canvas-block {
    width: 550px;
    height: 550px;
    margin: auto;
    border: solid black 2px;
}

#drawing canvas {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 550px;
}

#drawing-canvas {
    z-index: 10;
}

#character-group-select {
    width : 250px;
}

#character-select {
    width : 150px;
}